.use-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.use-card img {
  height: 150px;
  margin-bottom: 15px;
}

.use-card h1 {
  font-family: var(--lora-font);
  margin-bottom: 15px;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.use-card p {
  font-size: 1.1rem;
}
