.building-wrapper {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pig-contruction {
  max-width: 350px;
}

.building-wrapper h1 {
  font-family: var(--vida-font);
  font-size: 4rem;
}

.building-content {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
