.pig-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pig-face {
  background-color: var(--pink);
  width: min-content;
  padding: 20px;
  border-radius: 50%;
  animation: rodaroda 2.5s linear infinite;
}

@keyframes rodaroda {
  100% {
    transform: rotate(360deg);
  }
}
