.second-section {
  background-color: var(--light-yellow);
  padding-top: 25px;
  padding-bottom: 25px;
}

.second-section h1 {
  font-family: var(--vida-font);
  font-size: 2.3rem;
}

.list-card {
  display: flex;
  justify-content: space-between;
}
