.burger-button {
  position: fixed;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger-button:focus {
  outline: none;
}

.burger-button div {
  width: 2rem;
  height: 0.25rem;
  background: black;
  border-radius: 10px;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.burger-button .first-line.open {
  transform: rotate(45deg);
}
.burger-button .first-line {
  transform: rotate(0);
}
.burger-button .second-line.open {
  opacity: 0;
  transform: translateX(20px);
}
.burger-button .second-line {
  opacity: 1;
  transform: translateX(0);
}
.burger-button .third-line.open {
  transform: rotate(-45deg);
}
.burger-button .third-line {
  transform: rotate(0);
}
