.button-item {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: var(--yellow);
  cursor: pointer;
  text-transform: uppercase;
}

.button-item.active {
  background-color: var(--dark-yellow);
}

.button-item {
  font-size: 1.4rem;
}
