.currency-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-yellow);
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  min-width: 600px;
}

.card-text {
  font-family: var(--lora-font);
}

.currency-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currency-abb {
  font-size: 5rem;
}

.currency-name {
  font-size: 1.3rem;
}

.currency-values {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.currency-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: flex-end;
}

.currency-time {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
}
