.firt-section {
  display: flex;
  height: 300px;
  margin-top: 75px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

.firt-section .data {
  width: 500px;
}

.firt-section .data h1 {
  font-family: var(--vida-font);
  font-size: 3rem;
  margin-bottom: 20px;
}

.firt-section .data p {
  font-size: 1.7rem;
  margin-bottom: 25px;
}

.firt-section img {
  height: 100%;
}
