.third-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.bar h1 {
  font-family: var(--vida-font);
  font-size: 2.3rem;
}

.third-content {
  max-width: 300px;
}

.third-content h1 {
  font-family: var(--vida-font);
  font-size: 2.3rem;
  margin-bottom: 15px;
}

.third-content p {
  margin-bottom: 25px;
  font-size: 1.5rem;
}
