.page-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  width: 100%;
}

.cotation-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cotation-title {
  font-family: var(--vida-font);
  font-size: 4.55rem;
  margin-bottom: 20px;
}

.content-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  /* background-color: red; */
  margin: 0 auto;
  min-height: calc(100vh - 2rem);
}

.card-list {
  margin-bottom: 2rem;
}
