.menu-wrapper.open {
  position: fixed;
  top: 25px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  border: 1px solid black;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-top: 2.7rem;
  padding-left: 10px;
  background-color: white;
  z-index: 9;
}

.menu-wrapper {
  display: none;
}
