footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  width: 100%;
  height: 3rem;
  z-index: 30;
}

.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
}

footer .footer-text {
  font-family: var(--lora-font);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
}

.confused-pig-footer {
  right: -150px;
  bottom: 25px;
  position: fixed;
  width: 400px;
  z-index: 20;
}

.shaddow {
  position: fixed;
  height: 2rem;
  width: 100%;
  background-color: red;
  z-index: 10;
  left: 0;
  bottom: 0;
  box-shadow: 0px -15px 47px 5px #fff;
}
