:root {
  --yellow: #f9d285;
  --light-yellow: rgba(255, 203, 124, 0.3);
  --dark-yellow: #ffaf36;
  --pink: #eba5a5;
  --lora-font: 'Lora', serif;
  --vida-font: 'Vidaloka', serif;
}

html,
body {
  height: 100%;
}

.center-container {
  max-width: 960px;
  margin: 0 auto;
}
