.not-found-wrapper {
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pig-confused {
  max-width: 350;
}

.not-found-wrapper h1 {
  font-family: var(--vida-font);
  font-size: 4rem;
}

.not-found-content {
  font-size: 2rem;
  margin-top: 15px;
  margin-bottom: 15px;
}
